.courses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 40px;
  letter-spacing: 2px;

  .course {
    width: 40vh;
    background-color: rgb(191, 188, 188);
    overflow: auto;
    margin: 2vh 2vh;
  }

  .title {
    margin: 0;
    padding: 10px 0 10px 20px;
    background-color: grey;
  }
}

.order-container {
  border: solid black 2px;
  width: auto;
  margin: 20px 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .submit-button {
    cursor: pointer;
    border-radius: 5em;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    border: solid black 1px;
  }
}
