$tablet-breakpoint: 768px;

header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;

  .table-title {
    color: white;
    letter-spacing: 2px;
  }

  nav {
    .nav-list {
      display: flex;
      list-style-type: none;
    }
  }

  .icon {
    display: none;
  }

  @media (max-width: $tablet-breakpoint) {
    background-color: green;

    .nav-list-item {
      display: none;
    }

    .icon {
      display: flex;
      float: right;
    }
  }
}
