$tablet-breakpoint: 768px;

header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;

  h1 {
    color: white;
    letter-spacing: 2px;
  }

  nav {
    ul {
      display: flex;
      list-style-type: none;
    }
  }

  .icon {
    display: none;
  }

  @media (max-width: $tablet-breakpoint) {
    background-color: green;

    a:not(:first-child),
    a.icon {
      float: right;
    }
  }
}
