$breakpoint-tablet: 768px;

header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;

  h1 {
    color: white;
    letter-spacing: 2px;
  }

  nav {
    ul {
      display: flex;
      list-style-type: none;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    background-color: green;
  }
}
